@media screen and (max-width: 768px) {
  body {
    width: 480px;
    height: 1055px;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7% 86% 8%;
  }

  header {
    grid-column: 1/3;
    grid-row: 1/1;
  }

  main {
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 16.67% 13.89% 13.89% 27.78% 27.78%;
  }

  footer {
    grid-area: 3/1/4/2;
  }
}

@media screen and (min-width: 768px) {
  body {
    width: 960px;
    height: 700px;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 20.84% 19.79% 19.79% 19.79% 19.79%;
    grid-template-rows: 14.29% 85.71%;
  }

  header {
    grid-area: 1/1/2/6;
  }

  main, footer {
    grid-area: 2/1/3/6;
    display: grid;
    grid-template-columns: 20.83% 19.79% 19.79% 19.79% 19.79%;
    grid-template-rows: 33.33% 41.67% 25%;
  }
}